<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Who hosts hate?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://who-hosts-hate.com" rel="canonical">
    <link href="favicon.png" rel="icon">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
      }

      ol {
        list-style-type: none;
        padding: 0;
      }

      ul {
        padding: 0;
        font-size: 0.8rem;
      }

      ul > li {
        display: inline;
        padding: 0.2rem;
        margin-right: 0.3rem;
        white-space: nowrap;
      }

      .monospace {
        font-family: 'Roboto Mono', monospace;
      }

      .intro {
        color: #777;
        margin: 0;
      }

      .intro a {
        color: #777;
      }

      .content {
        width: 100%;
        max-width: 30rem;
        margin: 0 auto;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class=content>
      <h1>Who hosts hate?</h1>
      <p class="intro monospace">Last updated: {{ todays_date }}</p>
      <p class="intro monospace"><a href="https://github.com/frewsxcv/who-hosts-hate/">Source code</a></p>
      <ol>
        {% for isp_name, sites in isps_data %}
        <li>
          <h2>{{ isp_name }}</h2>
          <ul>
            {% for site in sites %}
            <li class="monospace" style="color: {{ site[2] }}">{{ site[0] }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>