<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Who hosts hate?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://who-hosts-hate.com" rel="canonical">
    <link href="favicon.png" rel="icon">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
      }

      ol {
        list-style-type: none;
        padding: 0;
      }

      .content {
        width: 100%;
        max-width: 24rem;
        margin: 0 auto;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <div class=content>
      <h1>Who hosts hate?</h1>
      <ol>
        {% for isp_name, sites in isps_data %}
        <li>
          <h2>{{ isp_name }}</h2>
          <ul>
            {% for site in sites %}
            <li style="color: {{ site[2] }}">{{ site[0] }}</li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>