<!DOCTYPE html>
<html lang="en">
  <head>
    <title>who hosts hate?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://who-hosts-hate.com" rel="canonical">

    <!-- Preconnects -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://unpkg.com">

    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/base-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link href="favicon.png" rel="icon">
    <style>
      /* https://purecss.io/grids/#using-grids-with-your-font-family */
      html,
      .pure-g [class*="pure-u"] {
        font-family: "Roboto Condensed", monospace;
      }

      /* variables */
      /* https://paletton.com/#uid=73Y1U0kcrbw8knSaNimj9aqoB7L */
      :root {
        --color-primary-0: #2B2C40;
        --color-primary-1: #676884;
        --color-primary-2: #484A66;
        --color-primary-3: #1C1E3A;
        --color-primary-4: #0F102B;

        --color-secondary-1-0: #5C4238;
        --color-secondary-1-1: #BE9A8D;
        --color-secondary-1-2: #926E61;
        --color-secondary-1-3: #532F21;
        --color-secondary-1-4: #3E1B0E;

        --color-secondary-2-0: #273F34;
        --color-secondary-2-1: #618374;
        --color-secondary-2-2: #436556;
        --color-secondary-2-3: #17392A;
        --color-secondary-2-4: #0A2B1C;

        --color-complement-0: #5C5238;
        --color-complement-1: #BEB18D;
        --color-complement-2: #928561;
        --color-complement-3: #534621;
        --color-complement-4: #3E310E;
      }

      /* margin */

      .m-0 {
        margin: 0;
      }

      .m-t-0 {
        margin-top: 0;
      }

      .m-l-1 {
        margin-left: 1rem;
      }

      .m-y-0-3 {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }

      .m-y-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .m-tl-1 {
        margin-top: 1rem;
        margin-left: 1rem;
      }

      .m-br-1 {
        margin-bottom: 1rem;
        margin-right: 1rem;
      }

      /* padding */

      a {
        color: var(--color-complement-1);
      }

      .p-1 {
        padding: 1rem;
      }

      .p-l-1 {
        padding-left: 1rem;
      }

      /* background colors */

      .bg-dark {
        background-color: var(--color-primary-4);
      }

      .bg-less-dark {
        background-color: var(--color-primary-0);
      }

      .bg-grey {
        background-color: #888888;
      }

      .border {
        border: white 1px dashed;
      }

      .black {
        color: black;
      }

      .white {
        color: white;
      }

      /* misc */

      .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .site-up {
        color: var(--color-secondary-2-1);
      }

      .not-available {
        color: var(--color-primary-1);
      }
    </style>
  </head>
  <body class="bg-dark white p-1">
    <h1 class="m-y-0-3">who hosts<a href="faqs.html#host"><sup>*</sup></a> hate?</h1>
    <nav><a href="https://github.com/frewsxcv/who-hosts-hate/">source</a> ∙ <a href="faqs.html">faqs</a></nav>
    <hr class="m-0 m-y-1">

    {% block content %}{% endblock %}

    <script src="https://s.dessaly.com/2/638279/analytics.js?dt=6382791561757311324000&c1=whh" async="true"></script>
  </body>
</html>
