<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Who hosts hate?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://who-hosts-hate.com" rel="canonical">

    <!-- Preconnects -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://unpkg.com">

    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/base-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
    <link href="favicon.png" rel="icon">
    <style>
      /* https://purecss.io/grids/#using-grids-with-your-font-family */
      html,
      .pure-g [class*="pure-u"] {
        font-family: "Fira Sans", monospace;
      }

      /* variables */
      :root {
        --dark: #1e202f;
        --less-dark: #292a3e;
      }

      /* margin */

      .m-0 {
        margin: 0;
      }

      .m-l-1 {
        margin-left: 1rem;
      }

      .m-y-1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .m-tl-1 {
        margin-top: 1rem;
        margin-left: 1rem;
      }

      .m-br-1 {
        margin-bottom: 1rem;
        margin-right: 1rem;
      }

      /* padding */

      .p-1 {
        padding: 1rem;
      }

      .p-l-1 {
        padding-left: 1rem;
      }

      /* background colors */

      .bg-dark {
        background-color: var(--dark);
      }

      .bg-less-dark {
        background-color: var(--less-dark);
      }

      .bg-grey {
        background-color: #888888;
      }

      .border {
        border: white 1px dashed;
      }

      .black {
        color: black;
      }

      .white {
        color: white;
      }

      /* misc */

      .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>
  </head>
  <body class="bg-dark white p-1">
    <h1 class="m-0">who hosts hate?</h1>
    <hr class="m-0 m-y-1">

    {% block content %}{% endblock %}

    <script src="https://s.dessaly.com/2/638279/analytics.js?dt=6382791561757311324000&c1=whh" async="true"></script>
  </body>
</html>
