{% extends "base.html.j2" %}

{% block content %}
<h2>FAQs</h2>

<a href="#">Back</a>

<h3 id=host>What do you mean by host?</h2>

<p>Hey</p>

<h3>Where is the host data coming from?</h2>

<p>Host data comes from <a href='https://ipstack.com/'>ipstack</a>.</p>
{% endblock %}