{% extends "base.html.j2" %}

{% block content %}
<div style="text-align: center">
  <h1>Who hosts<a href="faqs.html#host"><sup>*</sup></a> hate<br>on the internet?</h1>

  <p class="intro monospace"><a href="https://github.com/frewsxcv/who-hosts-hate/">source</a> ∙ <a href="faqs.html">faqs</a></p>
</div>

<hr style="margin-top: 2rem;">

<ol>
  {% for asn, sites in isps_data %}
  <li>
    <h2>{{ asn.name }} <sup><a class="dark-grey" href="https://www.peeringdb.com/asn/{{ asn.number }}">ASN</a></sup></h2>
    <ul>
      {% for site_name, site_color, site_classification in sites %}
      <li class="monospace" style="color: {{ site_color }}">
        {{ site_name }}
        {% if site_classification %}
          <a href="faqs.html#classify" class="dark-grey">[{{ site_classification }}]</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ol>
{% endblock %}